.App {
  max-width: 610px;
  height: 100vh;
  margin: 0 auto;
  height: 100%;
}

h1 {
  color: #333;
  text-align: center;
  font-family: "Raleway";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.62px;
  margin: 32px 0 40px;
}

.Content {
  display: flex;
  border-bottom: 1px solid #bdbdbd;
  margin-bottom: 18px;
}

.box-list::before {
  border-radius: 4px 4px 0px 0px;
  background: #2F80ED;
  /* position: absolute; */
}

.selected::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: inline-block;
  width: 50%;
  height: 4px;
  content: '';
  background-color: #2f80ed;
  border-radius: 4px 4px 0 0;
  -webkit-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.box-list{
  position: relative;
}